/* Welcome-Section CSS Code */

.welcome-section {
	padding: 5em 0;
	height: 575px;
	width: 100%;
	opacity: 0;
	transform: scale(0.1);
	transition: all 1.5s .5s ease-in-out; /* property-duration-delay-timingFunction */
}
.reveal {
	opacity: 1;
	transform: scale(1);
}

.col img {
	width: 400px;
	height: 400px;
	/* object-fit: cover; */
	border-radius: 50%;
	border: 15px solid #34bbe3;
}
.col .heading {
	max-width: 400px;
	margin-bottom: 20px;
}
.col .heading h1 {
	font-size: 40px;
	color: #34bbe3;
	font-weight: 400;
	line-height: 1.2;
}
.col .text {
	font-weight: 300;
	line-height: 2;
	text-align: justify;
}
.col .welcome-btn {
	cursor: pointer;
	font-weight: 400;
	vertical-align: middle;
	font-size: 1rem;
	line-height: 1.5;
	border: 2px solid transparent;
	background: #34bbe3;
	border-radius: .25rem;
	box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
	position: relative;
	outline: none;
	padding: 5px 10px;
	width: 120px;
	height: 40px;
	transition: all .3s;
}
.col .welcome-btn:hover {
	background: transparent;
	border: 2px solid #34bbe3;
}
.col .welcome-btn a {
	color: #fff;
}
.col .welcome-btn:hover a {
	color: #000;
}



/*---------------------------------------- MEDIA QUERIES ----------------------------------------*/
@media all and (min-width:878px) and (max-width:914px){
	.welcome-section{
		height: 650px;
	}
}
@media all and (min-width:811px) and (max-width:877px){
	.welcome-section{
		height: 700px;
	}
}
@media all and (min-width:768px) and (max-width:810px){
	.welcome-section{
		height: 750px;
	}
}
@media all and (min-width:491px) and (max-width:767px){
	.welcome-section{
		height: 925px;
	}
}
@media all and (max-width:490px){
	.welcome-section{
		height: 975px;
	}
}
@media all and (min-width:343px) and (max-width:470px){
	.welcome-section{
		height: 925px;
	}
}
@media all and (max-width:342px){
	.welcome-section{
		height: 995px;
	}
}
@media all and (min-width:471px) and (max-width:875px) {
	.col img {
		width: 325px;
		height: 325px;
	}
}
@media all and (min-width:351px) and (max-width:400px) {
	.col img {
		width: 275px;
		height: 275px;
		margin-left: 7%;
	}
}
@media all and (max-width:350px) {
	.col img {
		width: 275px;
		height: 275px;
		margin-left: 2%;
	}
}
@media all and (min-width:401px) and (max-width:470px) {
	.col img {
		width: 265px;
		height: 265px;
	}
}
@media all and (min-width:766px) and (max-width:995px){
	.col:first-child {
		padding-left: 10%;
	}
	.col:nth-child(2) {
		padding-left: 10%;
	}
	.col img {
		margin-left: -50px;
	}
}
@media all and (min-width:402px) and (max-width:766px){
	.col img{
		margin-left: 15%;
	}
}
@media only screen and (max-width:995px){
	.col .heading h1 {
		font-size: 35px;
		margin: 35px 0 45px;
		text-align: center;
	}
	.col .heading h1::after{
		content: "";
		display: block;
		position: relative;
		width: 80px;
		height: 3px;
		top: 8px;
		margin: 15px auto 26px;
		background: rgb(219, 178, 81);
	}
	.col .text {
		font-size: 16px;
	}
}
@media all and (min-width:995px) and (max-width:1050px) {
	.col img {
		width: 375px;
		height: 375px;
	}
}
/*---------------------------------------- MEDIA QUERIES ----------------------------------------*/